.about-course {
  // .about-course__container
  &__container {
  }
  // .about-course__main
  &__main {
  }
  // .about-course__maintitle
  &__maintitle {
  }
  // .about-course__maintext
  &__maintext {
  }
  // .about-course__text
  &__text {
  }
  // .about-course__title
  &__title {
  }
  // .about-course__text-bold
  &__text-bold {
  }
  // .about-course__text-neutral
  &__text-neutral {
  }
}

.content-wrapper {
}
.padding {
}
.container {
}
.row {
}
.col-lg-4 {
}
.col-xl-3 {
}
.order-lg-2 {
}
.bar {
}
.left-sidebar {
  // .left-sidebar__link
  &__link {
  }
  // .left-sidebar__link-2
  &__link-2 {
  }
}
.side {
  // .side_block
  &_block {
  }
}
.block {
  // .block_details
  &_details {
  }
  // .block_feature
  &_feature {
  }
}
.company {
  // .company_details
  &_details {
  }
}
.logos {
}
.border-b {
  border-bottom: 1px solid #efe8f8;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.icon {
  // .icon_location-black
  &_location-black {
  }
  // .icon_phone-black
  &_phone-black {
  }
  // .icon_emain-black
  &_emain-black {
  }
}
.letf-sidebar {
  // .letf-sidebar__previos
  &__previos {
  }
}
.previos {
  margin-bottom: 40px;
  // .previos__recomend
  &__recomend {
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../../img/win.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
    }
    // .previos__recomend_title
    &_title {
    }
    // .previos__recomend_text
    &_text {
    }
  }
  // .previos__licence
  &__licence {
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../../img/medal.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
    }
    // .previos__licence_title
    &_title {
    }
    // .previos__licence_text
    &_text {
    }
  }
}
.col-lg-8 {
}
.col-xl-9 {
}
.order-lg-1 {
}
.main-course {
  // .main-course__about
  &__about {
  }
}
.course {
  // .course__content
  &__content {
  }
}
.b-1 {
}
.fir {
}
.ingleks {
  // .ingleks__subjects
  &__subjects {
  }
  // .ingleks__rocket
  &__rocket {
    margin: 0;
  }
  // .ingleks__numbers
  &__numbers {
  }
  // .ingleks__benefits
  &__benefits {
  }
  // .ingleks__sertificat
  &__sertificat {
  }
  // .ingleks__skillbox-stage
  &__skillbox-stage {
  }
  // .ingleks__cards
  &__cards {
  }
  // .ingleks__mentors
  &__mentors {
  }
  // .ingleks__teachers
  &__teachers {
  }
}
.subjects {
  // .subjects__container
  &__container {
  }
  // .subjects__title
  &__title {
  }
  // .subjects__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  // .subjects__item
  &__item {
  }
  // .subjects__link
  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      max-width: 22px;
      max-height: 22px;
    }
  }
}
.main {
  // .main__title
  &__title {
  }
  // .main__text
  &__text {
  }
  // .main__item-of-subjects
  &__item-of-subjects {
  }
}
.soar {
}
.rocket {
  // .rocket__container
  &__container {
  }
  // .rocket__main
  &__main {
  }
}
.main-rocket {
  // .main-rocket__content
  &__content {
  }
  // .main-rocket__title
  &__title {
  }
  // .main-rocket__text
  &__text {
  }
  // .main-rocket__bg
  &__bg {
  }
}
.numbers {
  // .numbers__container
  &__container {
  }
  // .numbers__list
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    @media (max-width: $mobileSmall) {
      gap: 16px;
    }
  }
  // .numbers__item
  &__item {
  }
  // .numbers__number
  &__number {
    font-style: normal;
    font-weight: 600;
    @include adaptiveValue("font-size", 48, 24, 1);
    @include adaptiveValue("line-height", 48, 32, 1);
    color: #392b4b;
  }
  // .numbers__text
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    olor: #392b4b;
  }
}
.benefits {
  // .benefits__container
  &__container {
  }
  // .benefits__titl
  &__titl {
  }
  // .benefits__list
  &__list {
  }
  // .benefits__item
  &__item {
    // .benefits__item_prev
    &_prev {
    }
    // .benefits__item_before
    &_before {
    }
    // .benefits__item_titl
    &_titl {
      margin-bottom: 16px;
      padding-right: 39px;
      @media (max-width: $tablet) {
        margin: 0;
      }
    }
    // .benefits__item_text
    &_text {
    }
  }
}
.small {
  position: relative;
  transform: scale(1) !important;
}

.image-ing {
  margin-bottom: 28px;
  img {
    position: relative;
    transform: scale(0.9);
  }
}
.spollers {
}
.sertificat {
  // .sertificat__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    @media (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
    }
  }
  // .sertificat__title
  &__title {
    flex: 0 1 50%;
    @media (max-width: $tablet) {
      flex: 1 1 auto;
    }
  }
  // .sertificat__image
  &__image {
    filter: drop-shadow(0px 8.20513px 16.4103px rgba(0, 0, 0, 0.25));
    border-radius: 6.5641px;
    flex: 0 1 33.333%;
    @media (max-width: $tablet) {
      flex: 1 1 auto;
    }
    @media (max-width: $mobileSmall) {
      img {
        width: 288px;
      }
    }
  }
}
.skillbox-stage {
  // .skillbox-stage__container
  &__container {
  }
  // .skillbox-stage__title
  &__title {
  }
  // .skillbox-stage__text
  &__text {
    margin-bottom: 40px;
  }
  // .skillbox-stage__slider
  &__slider {
  }
  // .skillbox-stage__wrapper
  &__wrapper {
  }
  // .skillbox-stage__slide
  &__slide {
    max-width: 400px;
    height: min-content;
    border-radius: 8px;
    overflow: hidden;
  }
}

.subjects__slide {
  height: fit-content;
  width: fit-content;
}

.in-show {
  display: none;
  @media (max-width:$pc){
     display: block; 
  }
}
.in-hide {
  @media (max-width:$pc){
     display: none; 
  }
}
.in-show-slides {
  display: none;
  @media (max-width:$pc){
     display: block; 
  }
  @media (max-width:$tablet){
    display: none;
  }
  @media (max-width:$mobile){
     display: block; 
  }
}
.in-hide-slides {
  @media (max-width:$pc){
     display: none; 
  }
  @media (max-width:$tablet){
    display: block;
  }
  @media (max-width:$mobile){
     display: none; 
  }
}

.subjects__wrapper {
  padding: 0 5px;
}


.cards {
  // .cards__container
  &__container {
  }
  // .cards__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  // .cards__item
  &__item {
    // .cards__item_body
    &_body {
      display: flex;
      align-items: center;
      gap: 32px;
    }
    // .cards__item_content
    &_content {
      flex: 0 0 50%;
    }
    // .cards__item_title
    &_title {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      /* identical to box height, or 129% */
      color: #392b4b;
      margin-bottom: 24px;
    }
    // .cards__item_text
    &_text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      color: #392b4b;
      span {
        display: block;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    // .cards__item_preview
    &_preview {
      img {
        width: 400px;
      }
    }
    // .cards__item_text
    &_text {
    }
    // .cards__item_text
    &_text {
    }
  }
}
.cards-video {
  border-radius: 16px;
}

.con-1 {
}
.con-2 {
  .cards__item_content {
    order: 2;
  }
  .cards__item_preview {
    order: 1;
  }
}
.text-item {
  display: block;
  margin-bottom: 20px !important;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #392b4b;
  // .text-item__title
  &__title {
    font-weight: bold;
  }
  // .text-item__text
  &__text {
  }
}
.mentors {
  // .mentors__container
  &__container {
  }
  // .mentors__title
  &__title {
    @include adaptiveValue("margin-bottom", 40, 20, 1);
  }
  // .mentors__list
  &__list {
  }
  // .mentors__item
  &__item {
    height: fit-content;
    img {
      border-radius: 80px 80px 80px 4px;
      margin-bottom: 16px;
      @include adaptiveValue("width", 156, 64, 1);
      @include adaptiveValue("height", 156, 64, 1);
    }
  }
  // .mentors__name
  &__name {
    margin-bottom: 8px;
  }
  // .mentors__text
  &__text {
  }
}
.teachers {
  // .teachers__container
  &__container {
  }
  // .teachers__title
  &__title {
  }
  // .teachers__list
  &__list {
  }
  // .teachers__item
  &__item {
  }
  // .teachers__link
  &__link {
  }
  // .teachers__image
  &__image {
  }
  // .teachers__info
  &__info {
    // .teachers__info_name
    &_name {
    }
    // .teachers__info_whois
    &_whois {
    }
  }
}
